/* media queries, from narrow to wide */

@media all and (min-width: 1000px) {
  /* general */
  a,
  h2 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.1rem;
  }

  /* nav */

  .pad-right {
    padding-right: 1.5rem;
  }

  /* gallery */

  .gallery {
    max-width: 25vw;
    margin: 15vh auto;
  }

  /* footer */

  footer a {
    font-size: 1.1rem;
  }

  .license-icons img {
    width: 1rem;
  }

  /* about page */

  .about {
    max-width: 25vw;
    padding-top: 15vh;
  }
}
@media all and (max-height: 500px) {
  .gallery {
    max-width: 25vw;
  }
}
@media all and (min-width: 500px) and (max-width: 999px) {
  .gallery {
    max-width: 50vw;
  }
  .about {
    max-width: 65vw;
  }
}
