/* general components */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: "arconregular", system-ui, -apple-system, "Helvetica Neue", sans-serif;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: normal;
  color: #111;
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='18.918256' height='18.918256' viewBox='0 0 14.918256 14.918256' version='1.1' id='svg5' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2' /%3E%3Cg id='layer1' transform='translate(-0.86745596,-0.34127951)'%3E%3Ccircle style='opacity:1;fill:%230b0b0b;fill-opacity:1;stroke-width:1.08983' id='path221' cx='8.3265839' cy='7.8004074' r='7.4591279' /%3E%3C/g%3E%3C/svg%3E%0A"),
    auto;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #111111;
  -webkit-user-drag: none;
  cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg width='20.086119' height='16.7425041' viewBox='0 0 10.086119 8.7425042' version='1.1' id='svg5' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs2' /%3E%3Cg id='layer1' transform='translate(-2.7844969,0.74175094)'%3E%3Cpath style='opacity:1;fill:%230b0b0b;fill-opacity:1;stroke-width:1.00157' id='path1537' d='M 5.8028726,15.496069 -4.2832456,15.511408 0.74652923,6.7689038 Z' transform='translate(7.0677425,-7.5106548)' /%3E%3C/g%3E%3C/svg%3E%0A"),
    auto;
}
p,
h2 {
  user-select: none;
}

p {
  font-size: 1rem;
}

h2 {
  font-size: 1.2rem;
}

.anchor {
  position: absolute;
  transform: translateY(-20vh);
}

.heart-cursor {
  cursor: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools --%3E%3Csvg fill='%23ff0000' width='22px' height='22px' viewBox='0 0 1920 1920' xmlns='http://www.w3.org/2000/svg' stroke='%23ff0000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M1771.731 291.037C1675.709 193.659 1547.944 140 1411.818 140h-.113c-136.125 0-263.777 53.66-359.573 150.924-37.618 38.07-68.571 80.997-92.294 127.426-23.61-46.429-54.563-89.356-92.068-127.313C771.86 193.659 644.208 140 507.97 140h-.113c-136.012 0-263.777 53.66-359.8 151.037-197.691 200.629-197.691 527.103 1.695 729.088l810.086 760.154 811.893-761.736c197.692-200.403 197.692-526.877 0-727.506' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E"),
    pointer;
}
/* nav */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
  z-index: 2;
}
.nav div {
  display: flex;
  gap: 1rem;
}

/* photo gallery */

main {
  position: relative;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 60vw;
  margin: 30vh auto;
  user-select: none;
}

.gallery img {
  cursor: none;
}

/* text from collection */

.text-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* footer */

footer {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: auto;
}

footer a {
  font-size: 1rem;
}

.license-icons {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.license-icons img {
  width: 0.8rem;
}

/* collection page */

.col-menu {
  z-index: 1;
}

.col-menu div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 50vh;
  transform: translate(0, -50%);
}

/* about page */

.about {
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 15vh;
}

.about div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
